@import './fonts/open_sans';

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 2rem;
}

button {
    cursor: pointer;
}

//  SECTIONS
@import './sections/header';
@import './sections/home_banner';

//  ADAPTIVE
@media(max-width: 1140px) {
    @import './adaptive/tablet_l';
}

@media(max-width: 768px) {
    @import './adaptive/tablet_s';
}

@media(max-width: /*568*/720px) {
    @import './adaptive/mobile_l';
}

@media(max-width: /*320*/440px) {
    @import './adaptive/mobile_s';
}