body {
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.header {
    padding-top: 0;

    &__top-bar {
        margin: 0;

        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.logo {
    &__link {
        width: 8.301rem;
        height: 8.225rem;
    }
}

.top-bar {
    &__left {
        min-height: 3.7rem;
        width: 22.7rem;
    }

    &__schedule {
        font-size: 1rem;

        &::before {
            width: 1rem;
            height: 1.2rem;

            margin-left: .2rem;
            
            transform: translateY(0.4rem);
        }
    }

    &__right {
        margin: 0;
        
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        &::before {
            display: none;
        }
    }

    &__phone {
        margin: .9rem 0 1rem .6rem;

        font-size: 1.7rem;
        line-height: 2.3rem;
    }
}

.nav {
    &__list {
        margin-top: 1.8rem;
    }

    &__item {
        font-size: 1.2rem;

        &--dropdown {
            &::after {
                width: .772rem;
                height: .429rem;
                margin-left: .2rem;
            }
        }
    }
}

.popup {
    &__form {
        width: 38rem;
        padding: 2rem 1.5rem;

        font-size: 1.2rem;
    }

    &__title {
        margin-bottom: 2.5rem;

        font-size: 1.3rem;
    }

    &__control {
        margin-bottom: 2.6rem;
    }

    &__label {
        margin-bottom: 2rem;

        font-size: 1rem;
        line-height: 1.4rem;
    }

    &__checkbox {
        width: 1.94rem;
        height: .1rem;
        margin-right: 1.365rem;


        &::before {
            height: 1.94rem;
            border-width: .143718rem;
        }
    }

    &__submit {
        width: 1.94rem;
    }
}

.content {
    margin-top: 9.025rem;
}

.banner {
    &__title {
        margin: .5rem 0;

        font-size: 3rem;
        line-height: 3.4rem;
    }

    &__btn {
        min-width: 13.5rem;
        height: 3rem;
        margin: .2rem;
        padding: .5rem;

        border-radius: .619219rem;

        font-size: .8rem;
        line-height: 1.2rem;
    }

    &__decor {
        width: 26.5rem;
        height: 14.5rem;

        &::before {
            bottom: -373%;
            left: -101%;

            border-radius: 5.68041rem;
        }

        &::after {
            bottom: -202%;
            left: 9.5%;

            border-radius: 3.31357rem;;
        }
    }
}

.carousel {
    &__list {
        &::before {
            top: 2.2rem;
        }
    }
    
    &__item {
        min-height: 55rem;
    }

    &__dots {
        margin-bottom: 9.4rem;
    }

    &__dot {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 1.88rem;

        &::before {
            width: .437rem;
            height: .437rem;
        }
    }
}