.header {
    padding: .3rem 0 .8rem;

    position: relative;
    z-index: 99;

    background: #FFFFFF;
    box-shadow: 0 .3rem 1.5rem rgba(134, 132, 132, 0.25);

    &__container {
        width: 114rem;
        margin: auto;

        position: relative;
    }
    
    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__right {
        width: 100%;

        margin-left: 7.16rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        color: #323446;
    }

    &__top-bar {
        height: 100%;

        margin-right: .4rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    &__link {
        width: 10.78rem;
        height: 10.681rem;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    &__img {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}

.top-bar {
    &__contacts {
        min-height: 3.6rem;
        min-width: 49.886rem;

        margin: 0 3.5rem 0 auto;
        padding: 0 3.5rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        border-right: .05rem solid #D0CFCF;
        border-left: .05rem solid #D0CFCF;
    }

    &__schedule {
        margin: .85rem 0 0;

        font-size: 1.2rem;

        line-height: 1.6rem;

        &::before {
            content: "";

            width: 1.4rem;
            height: 1.4rem;
            margin-right: .75rem;

            transform: translateY(.3rem);

            display: inline-block;

            background-image: url("../img/header/icons/time.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    &__location {
        @extend .top-bar__schedule;

        position: relative;
        color: #028CFF;
        text-decoration: none;

        &::before {
            transform: translateY(.2rem);

            background-image: url("../img/header/icons/placeholder.svg");
        }

        &::after {
            content: "";

            width: calc(100% - 2.2rem);
            height: .1rem;

            position: absolute;
            right: 0;
            bottom: -.3rem;

            background-color: #028CFF;

            pointer-events: none;
        }
    }

    &__phone {
        margin: .4rem 0 0;

        font-size: 2rem;
        line-height: 2.7rem;

        text-decoration: none;

        color: #028CFF;
    }

    &__btn {
        min-width: 25.85rem;
        height: 4.9rem;

        padding: 1.5rem;

        font-style: normal;
        font-weight: bold;
        font-size: 1.2rem;

        letter-spacing: .07rem;
        text-transform: uppercase;
        color: #FFFFFF;

        background: #028CFF;
        border-width: 0;
        border-radius: 1rem;
        
        filter: drop-shadow(0 0.6rem 0.3rem rgba(17, 17, 17, 0.25));
    }
}

.nav {
    &__list {
        margin: 0;
        padding: 0;

        display: flex;
        justify-content: space-between;
        
        list-style: none;
    }

    &__item {
        font-size: 1.4rem;

        &--dropdown {
            &::after {
                content: "";

                width: .9rem;
                height: .5rem;

                margin-left: .5rem;

                display: inline-block;

                transform: translateY(-.3rem);

                background-image: url("../img/header/icons/nav_dropdown_arrow.svg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
    }

    &__link {
        position: relative;

        color: inherit;

        text-decoration: none;

        transition: all .2s;

        &::before {
            content: "";

            width: 100%;
            height: 0;

            position: absolute;
            right: 0;
            bottom: -.8rem;

            background-color:  #028CFF;

            transition: all .2s;

            pointer-events: none;
        }

        &:hover,
        &:focus {
            color: #028CFF;

            &::before {
                height: .2rem;
            }
        }
    }
}