.header {
    padding: .3rem 0 .8rem;

    position: relative;
    z-index: 99;

    background: #FFFFFF;
    box-shadow: 0 .3rem 1.5rem rgba(134, 132, 132, 0.25);

    &__container {
        width: 117rem;
        max-width: 100%;
        margin: auto;
        padding: 0 1.5rem;

        position: relative;
    }
    
    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__right {
        width: 100%;

        margin-left: 7.16rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        color: #323446;
    }

    &__top-bar {
        height: 100%;

        margin-right: .4rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__burger {
        display: none;
    }

    &__popup {
        max-width: 100%;

        color: #FFFFFF;
        background-color: #323446;
    }
}

.logo {
    &__link {
        width: 10.78rem;
        height: 10.681rem;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    &__img {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}

.top-bar {
    &__left,
    &__right {
        min-height: 3.6rem;

        position: relative;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        //border-right: .05rem solid #D0CFCF;

        &::before {
            content: "";

            width: .05rem;
            height: 3.6rem;

            position: absolute;
            top: 50%;

            transform: translateY(-50%);

            background-color: #D0CFCF;
        }
    }

    &__left {
        width: 36.5rem;

        &::before {
            left: 45%;
        }
    }

    &__right {
        width: 50rem;
        margin-left: 1.5rem;

        &::before {
            left: 41.5%;
        }
    }

    &__schedule {
        margin: .85rem 0 0;

        font-size: 1.2rem;

        line-height: 1.6rem;

        &::before {
            content: "";

            width: 1.4rem;
            height: 1.4rem;
            margin-right: .75rem;

            transform: translateY(.3rem);

            display: inline-block;

            background-image: url("../img/header/icons/time.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    &__location {
        @extend .top-bar__schedule;

        position: relative;
        color: #028CFF;
        text-decoration: none;

        &::before {
            transform: translateY(.2rem);

            background-image: url("../img/header/icons/placeholder.svg");
        }

        &::after {
            content: "";

            width: calc(100% - 2.2rem);
            height: .1rem;

            position: absolute;
            right: 0;
            bottom: -.3rem;

            background-color: #028CFF;

            pointer-events: none;
        }
    }

    &__phone {
        margin: 0;

        display: block;

        position: relative;

        font-size: 2rem;
        line-height: 2.7rem;

        text-decoration: none;

        color: #028CFF;
    }

    &__btn {
        min-width: 25.85rem;
        height: 4.9rem;

        padding: 1.5rem;

        font-style: normal;
        font-weight: bold;
        font-size: 1.2rem;

        letter-spacing: .07rem;
        text-transform: uppercase;
        color: #FFFFFF;

        background: #028CFF;
        border-width: 0;
        border-radius: 1rem;
        
        filter: drop-shadow(0 0.6rem 0.3rem rgba(17, 17, 17, 0.25));
    }
}

.nav {    
    &__list {
        margin: 0;
        padding: 0;

        display: flex;
        justify-content: space-between;
        
        list-style: none;
    }

    &__item {
        position: relative;

        font-size: 1.4rem;
    }
    
    &__item--dropdown > &__link {
        perspective: 100rem;

        &::after {
            content: "";

            width: .9rem;
            height: .5rem;

            margin-left: .5rem;

            display: inline-block;

            transform: translateY(-.3rem);

            background-image: url("../img/header/icons/nav_dropdown_arrow.svg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &::before {
            width: calc(100% - 1.4rem);
        }
    }

    &__link {
        padding: 0;
        margin: 0;
        border-width: 0;

        display: inline-block;

        position: relative;

        color: inherit;

        background-color: transparent;

        text-decoration: none;

        transition: all .2s;

        &::before {
            content: "";

            width: 100%;
            height: 0;

            position: absolute;
            left: 0;
            bottom: -.8rem;

            background-color:  #028CFF;

            transition: all .2s;

            pointer-events: none;
        }

        &:hover,
        &:focus {
            color: #028CFF;
            outline: none;

            &::before {
                height: .2rem;
            }
        }
    }

    &__subnav {
        width: max-content;
        margin: 0;
        padding: 1.25rem 2.3rem 2.05rem 1.25rem;

        position: absolute;
        top: 2.75rem;
        left: -1.4rem;

        box-shadow: 0 .3rem 1.5rem rgba(134, 132, 132, 0.25);
        border-radius: .4rem;

        background-color: #FFFFFF;

        overflow: hidden;

        opacity: 0;

        transform: rotateX(-90deg);
        transform-origin: top;

        transition: all .4s;
        transition-delay: 1s;
    }

    &__item:hover &__subnav,
    &__link:hover + &__subnav,
    &__link:focus + &__subnav,
    &__link:active + &__subnav {
        top: 4.3rem;

        opacity: 1;

        transform: rotateX(0);

        transition-delay: 0s;
    }
}

.subnav {
    &__title {
        margin: 1.3rem 0 1rem;

        display: inline-block;

        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 1.2rem;
        text-decoration: none;

        color: #028CFF;

        &::after {
            content: "";

            width: 13rem;
            height: .2rem;

            margin-top: .5rem;

            display: block;

            background-color: #028CFF;
        }
    }

    &__list {
        margin: 0;
        padding: 0;

        list-style-type: none;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    &__link {
        @extend .nav__link;

        &::before {
            display: none;
        }
    }
}

.popup {
    &__form {
        width: 56.2rem;
        max-width: 100%;
        padding: 3.5rem;

        display: flex;
        flex-direction: column;

        font-size: 1.6rem;
    }

    &__control {
        height: 3rem;
        padding: 0;
        margin-bottom: 4.5rem;

        font-style: normal;
        font-weight: normal;
        font-size: inherit;

        background-color: transparent;

        border-width: 0 0 .1rem 0;
        border-radius: 0;
        border-color: #FFFFFF;

        &::placeholder {
            color: #FFFFFF;
        }
    }

    &__title {
        margin: 0 0 3.5rem;

        font-size: 2rem;
        font-weight: 600;
    }

    &__label {
        margin-bottom: 3rem;

        display: flex;

        font-size: 1.2rem;
        font-style: normal;
        font-weight: normal;
        line-height: 1.6rem;

        cursor: pointer;
    }

    &__checkbox {
        width: 2.7rem;
        height: .1rem;
        margin-right: 2rem;


        &::before {
            content: "";
            width: 100%;
            height: 2.7rem;
            display: block;

            border: .2rem solid #028CFF;

            background-color: transparent;

            cursor: pointer;
        }

        &:checked::before {
            background-color: #028CFF;
        }
    }

    &__submit {
        @extend .top-bar__btn;

        width: 22rem;
    }
}