.banner {
    position: relative;

    color: #323446;
    
    &__container {
        @extend .header__container;
    }

    &__title {
        margin: 1.5rem 0;

        font-weight: 600;
        font-size: 4.8rem;
        line-height: 5.5rem;

        color: #323446;
    }

    &__btn {
        @extend .top-bar__btn;

        min-width: 22rem;
        margin: 1.2rem 0;

        letter-spacing: .5px;
    }

    &__carousel {
        padding: 0;
        margin: 0;

        position: relative;
        z-index: 1;
    }

    &__decor {
        width: 55.5rem;
        height: 30.5rem;

        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;

        overflow: hidden;

        &::before,
        &::after {
            content: "";

            position: absolute;
            z-index: 1;
            
            background: rgba(219, 192, 192, 0.19);
            transform: rotate(-45deg);
        }
        
        &::before {
            width: 58.598rem;
            height: 58.598rem;

            bottom: -118%;
            left: -86%;
            
            border-radius: 12rem;
        }

        &::after {
            width: 31.225rem;
            height: 31.225rem;

            bottom: -66%;
            left: -2%;

            border-radius: 7rem;
        }
    }
}

.carousel {    
    &__list {
        padding: 0;
        margin: 0;

        position: relative;

        list-style-type: none;

        &::before {
            content: "";

            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;

            background-image: url("../img/homepage_banner/banner_bg.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right top;

            pointer-events: none;
        }
    }

    &__item {
        min-height: 87.624rem;

        padding: 12.5rem 0;
    }

    &__dots {
        padding: 0;
        margin: 0;

        position: absolute;
        right: 0;
        bottom: 12.5rem;

        display: flex;

        list-style-type: none;
    }

    &__dot {
        width: 2rem;
        height: 2rem;
        margin-left: 2.66rem;
        padding: 0;

        position: relative;

        font-size: .01rem;

        border-radius: 100%;
        border-color: #333333;
        border-width: .1rem;

        background-color: transparent;

        &::before {
            content: "";

            width: .6rem;
            height: .6rem;

            position: absolute;
            top: 50%;
            left: 50%;

            transform: translateX(-50%) translateY(-50%);

            border-radius: 100%;

            background-color: transparent;

            transition: all .2s;
        }

        &.active,
        &:hover,
        &:focus {
            &::before {
                background-color: #333333;
            }
        }
    }
}